body {
    font-family: Arial;
    background: #f4f4f4;
    margin: 0;
}

nav {
    background: #333;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: black;
    color: white;
    padding: 10px 15px;
    border: none;
}
